@import url("https://fonts.googleapis.com/css?family=Sansita");
#wrapper {
    height: 100%;
}

html {
    background: url(sunny.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    font-family: "Sansita", cursive;
    max-width: auto;
    text-align: center;
}

#name {
    background-color: #efefef;
    font-size: 6em;
    max-width: 500px;
    align-content: center;
    margin: auto;
}

#weathertype {
    font-size: 3em;
}

#lo,
#lowtemp {
    float: right;
    font-size: 2em;
    margin-right: 150px;
    align-content: center;
    margin-top: -30px;
    background-color: #efefef;
}

#hi,
#hitemp {
    float: left;
    font-size: 2em;
    align-content: center;
    margin-left: 150px;
    margin-top: -30px;
    background-color: #efefef;
}

option {
    font-family: "Sansita", cursive;
    align-content: center;
    width: 150%;
}

#current {
    background-color: #efefef;
    margin: auto;
    max-width: 500px;
    height: 300px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Sansita", cursive;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}